body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: url("../img/dag.jpg");
	height: 100vh; /*resmi aşağıya doğru tek parça uzatmak için*/
	background-size: cover; /*tam ortadaki resmi sağa sola genişletmek için*/
}

.box{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: rgba(0,0,0,.5);
	width: 400px;
	padding: 40px;
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0,0,0,.8); /*box yani kutunun sağ ve alt tarafındaki GÖLGE*/
	border-radius: 15px;
}

.box h2{
	margin: 0 0 30px;
	padding: 0;
	color: #fff;
	text-align: center;
}

.box .inputBox{
	position: relative;
}

.box .inputBox input{
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	letter-spacing: 1px;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid #fff; /*border yani kutucuğun alt çizgisi*/	
	outline: none; /*input(kutucuğa) tıkladığında etrafında tam border görülür. siler*/
	background: transparent;
}

.box .inputBox label{
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	pointer-events: none; /*username in üzerine tıklarsan yazamazsın.Anca sağına tıklarsan. pointer-events üzerine yazdırır */
	transition: .5s; /*yenilediğinde yazıları kaydır*/
}

.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label{ /*valid 2 yazıyıda ekranda tutar*/
	top: -18px;
	left: 0;
	color: #03a9f4;
 	font-size: 12px; /*""fz12"" sonra TAB*/
}

.box input[type="submit"]{
	background: transparent;
	border: none;
	outline: none;
	color: #fff;
	background: #03a9f4;
	padding: 10px 20px;
	cursor: pointer; /*gönder tuşu üzerine mouse ile gelince ok yerine el olur*/
	border-radius: 5px;
}